<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">

  <title>Wenge: Expedited Expenses</title>

  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

  <link rel='stylesheet' href='css/bootstrap.min.css'>
  <link rel='stylesheet' href='css/octicons.css'>
  <link rel='stylesheet' href='css/site.css'>
</head>
<body ng-app='wenge' ng-cloak>

  <nav class='navbar navbar-fixed-top' ng-controller='NavigationController as NavCtrl' class="hidden-print">
    <div class='container-fluid' style='margin: 0 2em;' ng-show="NavCtrl.user.id">
      <div class='collapse navbar-collapse'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/' style="padding:10px" tabindex="-1">
            <img alt="Wenge Logo" src="assets/logo.jpg" width="40px" height="40px">
          </a>
        </div>
        <h3 class="navbar-left">Wenge</h3>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" dropdown keyboard-nav>
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle>
               Jump To <i class="octicon octicon-triangle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="item in NavCtrl.links">
                <a ng-href="#/{{ item.url }}">
                  <i class="octicon octicon-{{ item.icon }}"></i>
                  {{ item.title }}
                </a>
              </li>
            </ul>
          </li>
          <li><a href="" ng-click="NavCtrl.logout()"><i class="octicon octicon-sign-out"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main class='container' style='padding-top: 5em;'>
    <ng-view></ng-view>
  </main>

  <script src='vendor/angular.min.js'></script>
  <script src='vendor/angular-route.min.js'></script>
  <script src='vendor/angular-resource.min.js'></script>
  <script src='vendor/angular-file-upload.min.js'></script>
  <script src='vendor/ui-bootstrap-tpls.min.js'></script>
  <script src='vendor/dirPagination.js'></script>
  <script src='app.min.js'></script>
</body>
</html>
