<section>

  <tabset>

    <!-- main overview tab -->
    <tab ng-click="ProjectCtrl.goTo(1)">
      <tab-heading>
        <i class="octicon octicon-list-ordered"></i> Available Projects
      </tab-heading>

      <div class="alert alert-success">
        <b><i class="octicon octicon-check"></i></b> Sucessfully editted project <b> {{ vm.slave.code }}</b>.
      </div>

      <div>
        <a class="btn btn-default" ng-click="ProjectCtrl.initAdd()"> <i class="octicon octicon-plus"></i> Add a Project</a>
      </div>

      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th colspan="3">
              Available Projects

              <span class="pull-right btn-group btn-group-xs">
                <a href="" class="btn btn-xs btn-default"><i class="octicon octicon-search"></i></a>
                <a href="" class="btn btn-xs btn-default"><i class="octicon octicon-file-pdf"></i></a>
                <a href="" class="btn btn-xs btn-default"><i class="octicon octicon-cloud-download"></i></a>
              </span>
            </th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Dot</th>
            <th style="width:95%;">Code</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in ProjectCtrl.projects">
            <td>{{ project.id }}</td>
            <td style="text-align:center"><span class="dot" ng-style="{ 'background-color' : project.color }"></span></td>
            <td>
              {{ project.code }}
              <span class="pull-right">
                <a href="" class="btn btn-xs btn-default" ng-click="ProjectCtrl.initEdit(project)">
                  <i class="octicon octicon-pencil"></i>
                </a>
                <a href="" class="btn btn-xs btn-default" ng-click="ProjectCtrl.removeProject(project)">
                  <i class="octicon octicon-trashcan"></i>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>

    <!-- add project form -->
    <tab active="ProjectCtrl.active === 2" ng-if="ProjectCtrl.active === 2">
      <tab-heading>
        <i class="octicon octicon-plus"></i> Add a Project
      </tab-heading>

      <form name="AddForm" class="form-horizontal" ng-submit="ProjectCtrl.saveAdd(AddForm.$invalid, ProjectCtrl.slave)" novalidate>
        <fieldset>
          <legend>Add a Project</legend>

          <div class="form-group" ng-class="{ 'has-error' : AddForm.$submitted && AddForm.code.$invalid }">
            <label for="code" class="col-sm-1 control-label">Code</label>
            <div class="col-sm-6">
              <input name="code" ng-model="ProjectCtrl.slave.code" class="solid-input" type="text" required />
              <p class="help-block" ng-show='AddForm.$submitted && AddForm.code.$invalid'>
                You must enter a code.
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="color" class="col-sm-1 control-label">Color</label>
            <div class="dropdown col-sm-6" dropdown keyboard-nav>
              <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle>
                <span class="dot" ng-style="{ 'background-color' : ProjectCtrl.slave.color }" ng-if="ProjectCtrl.slave.colorname"></span>
                {{ ProjectCtrl.slave.color ? ProjectCtrl.slave.colorname : "Select a Color" }}
                <i class="octicon octicon-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="color in ProjectCtrl.colors | limitTo:12">
                  <a ng-click="ProjectCtrl.selectColor(color)" href="">
                    <span class="dot" ng-style="{ 'background-color' : color.code }"></span> {{ color.name}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <button type="submit" class="btn btn-md btn-success col-sm-offset-1">Submit</button>
        </fieldset>
      </form>
    </tab>

    <!-- edit project form -->
    <tab active="ProjectCtrl.active === 3"  ng-if="ProjectCtrl.active === 3">
      <tab-heading>
        <i class="octicon octicon-pencil"></i> Edit Project
      </tab-heading>

      <form name="EditForm" class="form-horizontal" ng-submit="ProjectCtrl.saveEdit(EditForm.$invalid, ProjectCtrl.slave)" novalidate>
        <fieldset>
          <legend>Add a Project</legend>

          <div class="form-group" ng-class="{ 'has-error' : EditForm.$submitted && EditForm.code.$invalid }">
            <label for="code" class="col-sm-1 control-label">Code</label>
            <div class="col-sm-6">
              <input name="code" ng-model="ProjectCtrl.slave.code" class="solid-input" type="text" required />
              <p class="help-block" ng-show='EditForm.$submitted && EditForm.code.$invalid'>
                You must enter a code.
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="color" class="col-sm-1 control-label">Color</label>
            <div class="dropdown col-sm-6" dropdown keyboard-nav>
              <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle>
                <span class="dot" ng-style="{ 'background-color' : ProjectCtrl.slave.color }" ng-if="ProjectCtrl.slave.colorname"></span>
                {{ ProjectCtrl.slave.colorname || "Select a Color" }}
                <i class="octicon octicon-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="color in ProjectCtrl.colors | limitTo:12">
                  <a ng-click="ProjectCtrl.selectColor(color)" href="">
                    <span class="dot" ng-style="{ 'background-color' : color.code }"></span> {{ color.name}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <button type="submit" class="btn btn-md btn-success col-sm-offset-1">Submit</button>
        </fieldset>
      </form>
    </tab>
  </tabset>
</section>
