# ignore instance data
db/data.sql
dest/*

# ignore built files
*.min.js

# vim things
*.swp
*.swo
*.swn

# npm and things
node_modules/
client/vendor/*

# express-session things
sessions/*

# log files
*.log

# ignore environment config
.env.*
!.env.sample
