/* hide the number spinners */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
          margin: 0;
}

input[type=number] {
      -moz-appearance:textfield;
}

.table-input {
  background-color: inherit;
  border: none;
  border-bottom: 1px dashed rgb(173, 173, 173);
  width: 100%;
}

.solid-input {
  padding-top: 10px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgb(173, 173, 173);
  width: 100%;
}

.solid-input:hover {
  box-shadow : 0px 2px #CCC;
}

.link-inherit {
  color : inherit;
  text-decoration : underline;
  cursor : pointer;
  font-weight: bold;
}

.dot {
  display : inline-block;
  border-radius: 50%;
  height: 12px;
  width : 12px;
}

.currency {
  text-align: right;
}

.nav-tabs {
  margin-bottom : 1em;
}

.table-scrollable {
  /* disallow bootstrap's spacing */
  margin-bottom : 0;
}

.table-scrollable thead tr {
  /* fallback */
  width: 97%;

  /* minus scroll bar width */
  width: -webkit-calc(100% - 16px);
  width:    -moz-calc(100% - 16px);
  width:         calc(100% - 16px);
}

.table-scrollable thead tr th {
  border-bottom : none;
}

@media print {
  a:before,
  a[href]:after {
    content : "" !important;
  }
}
