<section>
  <form name="RequestForm" class="form-horizontal" ng-submit="CreateCtrl.submit(CreateCtrl.$invalid)" novalidate>

    <legend>
      Application For Expenditure
      <span class="pull-right btn-group btn-group-xs">
        <a href="" class="btn btn-xs btn-default" ng-click="CreateCtrl.noop()" tooltip="Save Template">
          <i class="octicon octicon-cloud-upload"></i>
        </a>
        <a href="" class="btn btn-xs btn-default" ng-click="CreateCtrl.noop()" tooltip="Open Template">
          <i class="octicon octicon-file-symlink-directory"></i>
        </a>
      </span>
    </legend>

    <div class="alert alert-danger" ng-if="RequestForm.$submitted && (RequestForm.$invalid || CreateCtrl.request.$invalid)">
      <b><i class="octicon octicon-alert"></i> Warning</b> There are some errors in your request.  Please correct these and submit the form again.
    </div>

    <alert type="danger">

    </alert>

    <div class="form-group" ng-class="{ 'has-error' : RequestForm.$submitted && !CreateCtrl.request.project }">

      <label class="col-sm-1 control-label">Project</label>
      <div class="col-sm-3" dropdown keyboard-nav>
        <a class="btn btn-default dropdown dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-class="{ 'btn-danger' : RequestForm.$submitted && !CreateCtrl.request.project }" dropdown-toggle>
          <span class="dot" ng-style="{ 'background-color' : CreateCtrl.request.project.color}" ng-if="CreateCtrl.request.project"></span>
          {{ CreateCtrl.request.project.code || "Select a Project" }}
          <i class="octicon octicon-chevron-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="project in CreateCtrl.projects track by project.id">
            <a ng-click="CreateCtrl.assignProjectId(project)" href="">
              <span class="dot" ng-style="{ 'background-color' : project.color}"></span> {{ project.code }}
            </a>
          </li>
        </ul>
      </div>

      <label class="col-sm-1 control-label"><i class="octicon octicon-calendar"></i> Date</label>
      <div class="col-sm-3">
        <p class="form-control-static">{{ CreateCtrl.request.date | date }}</p>
      </div>

      <label class="col-sm-2 control-label"><i class="octicon octicon-person"></i> Requestor</label>
      <div class="col-sm-2">
        <p class="form-control-static">{{ CreateCtrl.user.username }}</p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : RequestForm.$submitted && RequestForm.beneficiary.$invalid }">
      <label class="col-sm-1 control-label">Beneficiary</label>
      <div class="col-sm-4">
        <input type="text" class="solid-input" name="beneficiary" ng-model="CreateCtrl.request.beneficiary" required>
        <p ng-show="RequestForm.$submitted && RequestForm.beneficiary.$invalid" class="help-block">
          Please provide a beneficiary.
        </p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : RequestForm.$submitted && RequestForm.explanation.$invalid }">
      <label class="col-sm-1 control-label">Explanation</label>
      <div class="col-sm-11">
        <textarea class="form-control" name="explanation" ng-model="CreateCtrl.request.explanation" rows="4" required></textarea>
        <p ng-show="RequestForm.$submitted && RequestForm.explanation.$invalid" class="help-block">
          Please provide an explanation.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label">Attachments</label>
      <div class="col-sm-6">
        <input type="file" class="btn btn-sm" nv-file-select uploader="CreateCtrl.uploader" multiple />
      </div>
      <div class="col-sm-5">
        <span class="label" ng-if="CreateCtrl.uploader.queue.length > 0" ng-class="{ 'label-warning' : CreateCtrl.uploader.progress < 100, 'label-success' : CreateCtrl.uploader.progress === 100 }">
          {{ CreateCtrl.uploader.progress === 100 ? "Complete" : "Attaching ..." }} {{ CreateCtrl.uploader.progress }} %
        </span>
      </div>
    </div>

    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th colspan="8">
            Request Details
            <span class="pull-right">
              <a href="" class="btn btn-xs btn-default" ng-click="CreateCtrl.addRow()" tooltip="Add Row">
                <i class="octicon octicon-plus"></i>
              </a>
            </span>
          </th>
        </tr>
        <tr>
          <th style="width:2.5%;text-align:center"><i class="octicon octicon-list-ordered"></i></th>
          <th style="width:60%;">Item Requested</th>
          <th style="width:10%;">Budget Code</th>
          <th style="width:5%;">Quantity</th>
          <th style="width:5%">Unit</th>
          <th style="width:8%;">Unit Price</th>
          <th style="width:8%;">Total</th>
          <th style="width:1.5%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in CreateCtrl.request.details" ng-form="RowForm">
          <td><i class="octicon octicon-alert text-danger" ng-if="RowForm.$invalid"></i> {{ RowForm.$invalid ? "" : ($index + 1) }}</td>
          <td><input name="item" type="text" class="table-input" ng-model="row.item" required></td>
          <td><input name="budgetcode" type="text" class="table-input" ng-model="row.budgetcode"></td>
          <td><input name="quantity" type="number" class="table-input" ng-model="row.quantity" ng-change="CreateCtrl.retotal()" placeholder="0" ng-min="0" required></td>
          <td><input name="unit" type="text" class="table-input" ng-model="row.unit" placeholder=""></td>
          <td><input name="unitprice" type="number" class="table-input" ng-model="row.unitprice" ng-change="CreateCtrl.retotal()" placeholder="$0" ng-min="0" required></td>
          <td class="text-center">{{ (row.quantity * row.unitprice || 0) | currency }}</td>
          <td class="text-center">
            <a href="" ng-click="CreateCtrl.removeRow($index)">
              <i class="octicon octicon-trashcan text-danger"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="7" class="text-right">Total {{ (CreateCtrl.total || 0) | currency }}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>

    <div class="form-group">
      <button type="submit" class="pull-right btn btn-success">Submit Form</button>
    </div>
  </form>
</section>
